<nav id="main-navbar" class="navbar navbar-default navbar-static-top">
<div class="container">

  <div class="nav-content">

    <div class="float-left">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="nav float-left">
        <li class="active">
          <a id="logo" href="/" title="{L_HOME}">
          <!-- IF MBRN_LOGO_IMG != null -->
          <img src="{MBRN_LOGO_IMG}" alt="{SITENAME}" />
          <!-- IF MBRN_LOGO_TEXT != null -->{MBRN_LOGO_TEXT}<!-- ELSE -->{SITENAME}<!-- ENDIF -->
          <!-- ELSE -->
          
          <i class="icon fa <!-- IF MBRN_LOGO_ICON != null -->{MBRN_LOGO_ICON}<!-- ELSE -->fa-home<!-- ENDIF -->"></i>
          <!-- IF MBRN_LOGO_TEXT != null -->{MBRN_LOGO_TEXT}<!-- ELSE -->{SITENAME}<!-- ENDIF -->

          <!-- ENDIF -->
          </a>
        </li>
      </ul>

      <div class="navbar-collapse collapse float-left">

        <form id="main_search" class="navbar-form navbar-left" method="get" role="search" action="/forum/search/">
          <div class="form-group input-group">
            <span class="input-group-btn">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" title="Search subtitles">
                  <input type="radio" value="subtitles" /><i class="fa fa-file-text"></i>
                </label>
                <label class="btn btn-default active" title="Search forums">
                  <input type="radio" value="forum" checked /><i class="fa fa-share-alt"></i>
                </label>
              </div>
            </span>

            <input type="text" class="form-control" autocomplete="off" name="keywords" disabled="" placeholder="Search" />

            <span class="input-group-btn">
              <button title="Search" type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
            </span>
          </div>
        </form>

      <ul class="nav navbar-nav">
        <li id="alternate_search">
          <a href="/subtitles/search/advanced" class="">
            <i class="icon fa fa-search"></i>{L_SEARCH}</span>
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon fa fa-file-text"></i>Subtitles <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/subtitles/search/advanced"><i class="icon fa fa-search"></i>Advanced search</a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="/subtitles/upload"><i class="icon fa fa-upload"></i>New subtitle</a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="/subtitles/latest/"><i class="icon fa fa-bolt"></i>Latest subtitles</a>
            </li>
            <li>
              <a href="/subtitles/latest/movie"><i class="icon fa fa-film"></i>Latest subtitles for movies</a>
            </li>
            <li>
              <a href="/subtitles/latest/tv-series"><i class="icon fa fa-play"></i>Latest subtitles for TV series</a>
            </li>
            <li>
              <a href="/subtitles/latest/mini-series"><i class="icon fa fa-play"></i>Latest subtitles for mini series</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <i class="icon fa fa-share-alt"></i>Forum
           <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{U_INDEX}"><i class="fa fa-share-alt"></i>{L_FORUM_INDEX}</a></li>

            <li class="divider"></li>

            <!-- IF S_USER_LOGGED_IN -->
            <li><a href="{U_SEARCH_NEW}"><i class="fa fa-bolt"></i>{L_SEARCH_NEW}</a></li>
            <!-- ENDIF -->

            <li><a href="{U_SEARCH_ACTIVE_TOPICS}"><i class="fa fa-exchange"></i>{L_SEARCH_ACTIVE_TOPICS}</a></li>
            <li><a href="{U_SEARCH_UNANSWERED}"><i class="fa fa-folder"></i>{L_SEARCH_UNANSWERED}</a></li>

            <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
            <li><a href="{U_MARK_FORUMS}" accesskey="m"><i class="fa fa-folder-open"></i>{L_MARK_FORUMS_READ}</a></li>
            <!-- ENDIF -->
            <li class="divider"></li>

          	<li><a href="{U_DELETE_COOKIES}"><i class="fa fa-times"></i>{L_DELETE_COOKIES}</a></li>

            <li class="divider"></li>

            <!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
            <li><a href="{U_TERMS_USE}" title="{L_TERMS_USE}"><i class="fa fa-leaf"></i>{L_TERMS_USE}</a></li>
            <li><a href="{U_PRIVACY}" title="{L_PRIVACY}"><i class="fa fa-gavel"></i>{L_PRIVACY}</a></li>
            <!-- ENDIF -->

            <li><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}"><i class="fa fa-question"></i>{L_FAQ}</a></li>
          
            <!-- IF S_DISPLAY_MEMBERLIST -->
            <li class="divider"></li>
            <li><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}"><i class="fa fa-users"></i>{L_MEMBERLIST}</a></li>
            <!-- IF U_TEAM -->
            <li><a href="{U_TEAM}"><i class="fa fa-graduation-cap"></i>{L_THE_TEAM}</a></li>
            <!-- ENDIF -->
            <!-- ENDIF -->
          </ul>
        </li>

        <!-- START: User Menu Items -->
        
        <!-- END: User Menu Items -->

      </ul>
      </div>
    </div><!-- /.float-left -->


    <div class="float-right">
    <ul class="nav navbar-nav">

    <!-- IF not S_IS_BOT -->
     <!-- IF S_USER_LOGGED_IN -->
     <li class="member-menu dropdown">
       <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" accesskey="x">
       <i class="icon fa fa-power-off"></i><span class="inner-text">{S_USERNAME}</span><span class="caret"></span></a>

       <!-- User Menu : -->
       <ul id="user-menu" class="dropdown-menu">
        
        <li><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e"><i class="fa fa-user"></i>{L_PROFILE}</a></li>

        <!-- IF U_ACP -->
        <li><a href="{U_ACP}"><i class="fa fa-cog"></i>{L_ACP}</a></li>
        <!-- ENDIF -->

        <!-- IF U_ACP && MBRN_CP -->
        <li><a href="{MBRN_CP_URL}?sid={SESSION_ID}"><i class="icon fa fa-wrench"></i>{L_MBRN_TCP}</a>
        </li>
        <!-- ENDIF -->

        <!-- IF U_MCP -->
        <li><a href="{U_MCP}"><i class="fa fa-cogs"></i>{L_MCP}</a></li>
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_SEARCH -->
        <li><a href="{U_SEARCH_SELF}"><i class="fa fa-eye"></i>{L_SEARCH_SELF}</a></li>
        <!-- ENDIF -->

        <!-- IF U_RESTORE_PERMISSIONS -->
        <li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li>
        <!-- ENDIF -->

        <li class="divider"></li>

        <li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x"><i class="fa fa-sign-out"></i>{L_LOGOUT} {S_USERNAME}</a></li>
       
       </ul>
       <!-- /#user-menu -->

     </li>
     <!-- ELSE -->
     <li class="dropdown login-box-toggle">
      <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="dropdown-toggle" data-toggle="dropdown" accesskey="x">
       <i class="icon fa fa-power-off"></i><span class="inner-text">{L_LOGIN}</span><span class="caret"></span></a>
    
       <div class="dropdown-menu" role="login">

       <!-- LOGIN-BOX -->

         <div class="login-box">
         
         <form action="{S_LOGIN_ACTION}" method="post" id="login">
         <fieldset>
           <dl>
             <dd class="text-center">
             <input type="text" tabindex="1" name="username" id="username" size="25" placeholder="{L_USERNAME}" class="inputbox autowidth add-border" title="{L_USERNAME}" />
             </dd>
           </dl>

           <dl>
             <dd class="text-center">
             <input type="password" tabindex="2" name="password" id="password" size="25" placeholder="{L_PASSWORD}" class="inputbox autowidth add-border" title="{L_PASSWORD}" />
             </dd>
           </dl>

           <dl>
            <dd class="float-left"><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></dd>
  		 
             <!-- IF S_AUTOLOGIN_ENABLED -->
             <dd class="text-left float-right"><label for="viewonline">
             <input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> Invisible</label>
             </dd>
             <!-- ENDIF -->

             <!-- IF U_RESEND_ACTIVATION -->
             <dd class="float-clear"><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a></dd>
             <!-- ENDIF -->
           </dl>

           {S_LOGIN_REDIRECT}

           <dl>
             <dd class="button-container">
             <!-- IF S_AUTOLOGIN_ENABLED -->
             <label for="autologin" class="float-right"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label>
             <!-- ENDIF -->

             {S_HIDDEN_FIELDS}
             <input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button1 float-left" />
             </dd>
           </dl>
         </fieldset>
         </form>
         </div><!-- /.login-box -->
       </div>

     </li>
     <!-- ENDIF -->
    <!-- ENDIF -->

    </ul>			      
    </div><!-- /.float-right -->
  </div><!-- /.nav-content -->
</div><!-- /.container -->
</nav><!-- /#main-navbar -->